@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');


:root{
  --firstcolor : #FDFDFD;
  --secondcolor : #9461D3;
  --background : #1A1A1E;
  --Firstpolice: MuseoModerno;
  --Secondpolice: Sansita Swashed;
  --paragraphepolice: Work Sans;
}

body{
    background-color: var(--background);
    scroll-behavior: smooth;
}

body h2 {
  color: var(--firstcolor);
  font-family: var(--Firstpolice);
  font-size: 3.5em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 8rem;
}


/* Navigation */

nav a{
    color: var(--firstcolor);
    text-decoration: none;
    font-family: var(--Firstpolice);
    font-weight: 700;
    font-size: 25px;
}

nav a:hover{
  color: var(--secondcolor);
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.5rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

/* Boutton */

button{
    background-color: var(--secondcolor);
    border: none;
    color: var(--firstcolor);
    border-radius: 30px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    color: var(--primaire, #FDFDFD);
    text-align: justify;
    font-family: var(--Firstpolice);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

button:hover{
  background-color: #5a1fa2;
  color:#8d8d8dfd;
}

/* Texte sur le coté */

.principal-texte{
    color: var(--secondcolor);
    text-align: justify;
    font-family: var(--Secondpolice);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
    white-space: nowrap;
}

.second-texte{
    color: var(--firstcolor);
    text-align: justify;
    font-family: var(--Firstpolice);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    white-space: nowrap;
}

.border-texte{
    transform: rotate(-90deg);
    display: flex;
    gap: 20px;
}

/* texte nom des projets */

#nom-projets-Acedofit{
    position: absolute;
    left: -3120px;
    bottom: -2420px;
}

#nom-projets-Photoshop{
    position: absolute;
    left: -1020px;
    bottom: -290px;
}

#nom-projets-Web-design{
    position: absolute;
    left: -1110px;
    bottom: -520px;
}


/* CSS planche */

.planche-projets img{
    width: 50rem;
}

.planche-projets {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    margin-top: 70px;
}


/* CSS creation */

.creation h1{
    color: var(--firstcolor);
    font-family: var(--Firstpolice);
    font-size: 3.3rem;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.titre-couleur{
    color: var(--secondcolor);
    font-family: var(--Secondpolice);
    font-size: 3.5rem;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.Titre-dispo{
    display: flex;
    justify-content: center;

}

.creation{
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-left: 10rem;
    margin-right: 10rem;

}

.Livre-de-poche {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.Affiches {
    
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;

}

.Texte-projet p {
    color: var(--firstcolor);
    text-align:center;
    font-family: var(--paragraphepolice);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Texte-projet {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;

}

/* Adobe xd */

.Itrips{
    gap: 15rem;
}

.dispo-adobe-gauche{
    display: flex;
    gap: 65px;
    justify-content: center;

}

.dispo-adobe-gauche p {
    color: var(--firstcolor);
    font-family: var(--paragraphepolice);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
} 

.dispo-adobe-gauche h2 {
    padding: 0;
    margin: 0;
    font-size: 2.8rem;
    letter-spacing: 0.1rem
}

.texte-dispo{
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 15px;   
}

#reverse{
    flex-direction:row-reverse;
}

.creation a{
    text-decoration: none;
}

.creation a :hover {
    color: var(--secondcolor);
}

.visible_texte {
    display: none;
    visibility: hidden;
}

/* CSS responsive */

@media screen and (max-width: 1350px)  {

    #Webdesigntitre{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1350px){
    .dispo-adobe-gauche{
        flex-direction: column-reverse !important;
        align-items: center;
    }

    .texte-dispo{
        align-items: center;
    }

    .texte-dispo p {
        text-align: center;
    }

    .Itrips{

        gap: 0px !important;

    }
}


@media screen and (max-width: 1100px) {
    .Titre-dispo {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1050px) {

    .planche-projets img{
        width: 40rem;
    }

    .img45{
        width: 35rem !important;
    }

    .img14{
        width: 11rem !important;
    }

    .img17{
        width: 13rem !important;
    }
    
}

@media screen and (max-width: 900px) {

    .planche-projets img{
        width: 30rem;
    }

    .Texte-projet p {
        width: 100%;
    }
    
    .img45{
        width: 33rem !important;
    }

    .img14{
        width: 10rem !important;
    }

    .img17{
        width: 10rem !important;
    }

    .img38{
        width: 30rem !important;
    }
}

@media screen and (max-width: 870px) {

    .titre-couleur{
        font-size: 2.7rem;
    }

    .creation h1 {
        font-size: 2.7rem;
    }
    
}

@media screen and (max-width: 870px){


}

@media screen and (max-width: 765px){

    #Texteprincipalwebdesign{
        flex-direction: column !important;
        align-items: center;
    }

    .Affiches{
        flex-direction: column;
    }

    .img45{
        width: 28rem !important;
    }

    .img14{
        width: 8rem !important;
    }

    .img17{
        width: 15rem !important;
    }

    .img38{
        width: 30rem !important;
    }


}

@media screen and (max-width: 720px) {
  
    .principal-texte,.second-texte{
        font-size: 2.0rem;
    }

    #nom-projets-Acedofit{
        left: -2140px;
        bottom: -1360px; 
    }

    #nom-projets-Web-design{
        left: -760px;
        bottom: -130px
    }

    .visible_texte{
        visibility: visible;
        display: contents;
    }

    .creation h1 {
        font-size: 2rem;
    }

    .titre-couleur {
        font-size: 2rem;
    }

    .planche-projets img {
        width: 25rem;
    }

    .accueil img {
      width: 13rem;
    }
  
    .descriptif{
      gap: 1rem;
    }
  
    #Projets,#outils{
      font-size: 3rem ;
    }
    .visible{
      visibility: hidden;
      display: none;
    }
  
    .navigation a{
      font-size: 1.2rem;
    }
  
    .navigation{
      gap: 20px;
    }
    
    nav {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      justify-content: space-around;
    }
  
    button{
      font-size: 0.9rem;
    }

    .dispo-adobe-gauche h2 {
        font-size: 2.4rem;
    }

    .dispo-adobe-gauche p {
        font-size: 0.9rem;
        width: 70%;

    }

    .imagecadre{
        width: 23rem !important;
    }

    #ItripsSSS{
        width: 9rem !important;
    }

    #nom-projets-Photoshop{
        left: -700px;
        bottom: -70px;
    }
  }


  @media screen and (max-width: 590px) {

    .planche-projets img {
        width: 20rem;
    }

    .Titre-dispo{
        display: none;
        visibility: hidden;
    }

    .creation{
        margin-left: 0rem;
        margin-right: 0rem;

    }

    .Texte-projet p{
        width: 70%;
    }
  }

  @media screen and (max-width: 470px){

    .principal-texte,.second-texte{
        font-size: 1.7rem;
    }

    #nom-projets-Acedofit{
        left: -1845px;
        bottom: -1165px; 
    }

    #nom-projets-Web-design{
        left: -660px;
        bottom: -20px; 
    }

    .dispo-adobe-gauche{
        gap: 60px;
    }


    .dispo-adobe-gauche p {
        font-size: 0.9rem;
        width: 60%;
    }

    .dispo-adobe-gauche h2 {
        font-size: 2.0rem;
    }

    .imagecadre{
        width: 19rem !important;
    }

    #ItripsSSS{
        width: 9rem !important;
    }
    
    .planche-projets img {
        width: 15rem;
    }

    .visible2{
        visibility: hidden;
        display: none;
      }

      .Texte-projet p{
        width: 80%;
    }

    .img45{
        width: 17rem !important;
    }

    .img14{
        width: 4.5rem !important;
    }

    .img17{
        width: 15rem !important;
    }

    .img38{
        width: 19rem !important;
    }

    #nom-projets-Photoshop{
        left: -610px;
        bottom: -40px;
    }

  }