@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');


:root{
  --firstcolor : #FDFDFD;
  --secondcolor : #9461D3;
  --background : #1A1A1E;
  --Firstpolice: MuseoModerno;
  --Secondpolice: Sansita Swashed;
  --paragraphepolice: Work Sans;
}

body{
    background-color: var(--background);
    scroll-behavior: smooth;
}

body h2 {
  color: var(--firstcolor);
  font-family: var(--Firstpolice);
  font-size: 3.5em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 8rem;
}

/* Navigation */

nav a{
    color: var(--firstcolor);
    text-decoration: none;
    font-family: var(--Firstpolice);
    font-weight: 700;
    font-size: 25px;
}

nav a:hover{
  color: var(--secondcolor);
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.5rem;
    padding-left: 5rem;
    padding-right: 5rem;


}

/* Accueil principal */

.accueil{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11.875rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;

}

.accueil img {
    width: 22rem;
}

.nom-prenom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.nom-prenom h1 {
    color: var(--firstcolor,);
    font-family: var(--Firstpolice);
    font-size: 9em;
    line-height: 60px;
    font-style: normal;
    font-weight: 900;
    margin: 0;
}

.nom-prenom h2{
    color: var(--secondcolor);
    font-family: var(--Secondpolice);
    font-size: 6.5rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.accueil p{
    color: var(--firstcolor);
    text-align: justify;
    font-family: var(--paragraphepolice);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    
    width: 40rem;
}

.descriptif{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5rem;
}

/* Boutton */

button{
    background-color: var(--secondcolor);
    border: none;
    color: var(--firstcolor);
    border-radius: 30px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    color: var(--primaire, #FDFDFD);
    text-align: justify;
    font-family: var(--Firstpolice);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

button:hover{
  background-color: #5a1fa2;
  color:#8d8d8dfd;
}

/* Texte défilant */

.container {
  overflow: hidden;
  display: flex;
}

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes scrollinverse {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .scroll {
    display: flex;
    white-space: nowrap;
    animation: scroll 50s linear infinite;
    justify-content: space-between;
    gap: 25px;
  }

  .scroll h4 {
    color: var(--firstcolor);
    text-align: justify;
    font-family: var(--Firstpolice);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px;
  }

  .scrollinverse{
    display: flex;
    white-space: nowrap;
    animation: scrollinverse 50s linear infinite;
    justify-content: space-between;
    gap: 25px;
  }

  .scrollinverse h4 {
    color: var(--firstcolor);
    text-align: justify;
    font-family: var(--Firstpolice);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px;
  }

  /* Mes projets */

  .logo-projets{
    width: 14.3rem;
    height: auto;
    flex-shrink: 0; 
    position: absolute;
    left: 38px;
    top: 54px;
  }

  .logo-projets:hover{
    width: 17.15rem;
    left: 15px;
    top: 26px;
    transition: .6s ease, transform .6s ease;
  }

  .cadre-blanc{
    width: 19rem;
  }

  .Cadre{
    position: relative;
  }

  .encadrementcadre{
    display: flex;
    justify-content: center;
    
  }

  .monprojets h5{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    color: var(--firstcolor);
    font-family: var(--Firstpolice);
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    margin-left: 10px;
    padding-top: 20px;    
  } 

  .monprojets h6{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    color: var(--secondcolor);  
    font-family:  var(--Secondpolice);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    padding-top: 20px;
  }

  .monprojets{
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    line-height: 50px
  }

  .mesprojets{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 90px;
    
  }
 
  .mesprojets>*{
    flex: 0 0 30%;
  }  

/* Mes Outils */

.Titre-outils h5{
  color: var(--firstcolor);
  font-family:  var(--Secondpolice);
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.Titre-outils object{
  width: 2em;
  height: 2rem;
}

.Titre-outils{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
}

.cat-outils{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.tous-outils{
  display: flex;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
}

.Texte-outils{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cat-outils a {
  text-decoration: none;
}
.Un-outils{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.Un-outils h6{
  color: var(--firstcolor);
  font-family: var(--paragraphepolice);
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.Un-outils p {
  color: rgba(253, 253, 253, 0.60);
  font-family: var(--paragraphepolice);
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 5px;
  margin-bottom: 0px;
  width: 250px;
}

.Un-outils img {
  width: 2.2rem;
  height: 2.2rem;
}

.Cat-tous-outils{
  display: flex;
  align-items: center;
  flex-direction: column; 
  gap: 20px;
}



/* CSS responsive  */

@media screen and (max-width: 1200px) {

  .accueil{
    gap: 5rem;
  }

  .accueil img {
    width: 18rem;
  }

  .nom-prenom h1{
    font-size: 7rem;
  }

  .nom-prenom h2{
    font-size: 4.5rem;
  }

  .descriptif{
    gap: 3rem;
  }

  .accueil p {
    font-size: 1rem;
    width: 650px;
  }


  .tous-outils{
   flex-wrap: wrap;
   row-gap: 60px;
  }
}

@media screen and (max-width: 1100px) {
  
  .accueil{
    gap: 4rem;
  }

  .accueil img {
    width: 15rem;
  }

  .nom-prenom h1{
    font-size: 5rem;
  }

  .nom-prenom h2{
    font-size: 4rem;
  }

  .accueil p {
    font-size: 1rem;
    width: 450px;
  }

}

@media screen and (max-width: 930px) {

#outils{
  display: flex;
  justify-content: center;
  padding: 0px;
}

#Projets{
  display: flex;
  justify-content: center;
  padding: 0px;

}
  
}


@media screen and (max-width: 800px) {

  .accueil{
    flex-direction: column-reverse;
    gap: 20px;
  }

  .accueil p {
    font-size: 1.2rem;
    width: 80%;
  }
  
  .descriptif{
    align-items: center;
  }

  .accueil{
    padding-left: 0rem;
    padding-right: 0rem;
  }
  
  .nom-prenom h2{
    padding: 0px;
  }

  .nom-prenom{
    align-items: center;
  }

}

@media screen and (max-width: 720px) {
  
  .accueil img {
    width: 13rem;
  }

  .descriptif{
    gap: 1rem;
  }

  #Projets,#outils{
    font-size: 3rem ;
  }
  .visible{
    visibility: hidden;
    display: none;
  }

  .navigation a{
    font-size: 1.2rem;
  }

  .navigation{
    gap: 20px;
  }
  
  nav {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: space-around;
  }

  button{
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 720px) {
  
  .cadre-blanc{
    width: 15rem;
  }

  .logo-projets{
    width: 11.3rem !important;
    left: 30px;
    top: 43px;
  }

  .logo-projets:hover{
    left: 30px;
    top: 43px;

  }

}