@font-face {
  font-family: "komet";
  src: url("https://use.typekit.net/af/66c5aa/00000000000000007735a904/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/66c5aa/00000000000000007735a904/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/66c5aa/00000000000000007735a904/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}



@media screen and (min-width:320px) {

#texte{
  font-family: Komet;
  font-weight: normal;
  font-size: 55px;
  text-align: left;
  color: #fff;
  position: absolute; left: 55px; top: 25px;

}

#menu{
  position: absolute; top: 20px;
  height: 40px; width: 40px;
  
    }

  body {
    background-image: url(Fond.png);
    background-repeat: repeat-y;
    background-size: 110%;
    background-position-x: -20px;
    
  }

  #gasly {
    border-radius: 30px;
    width: 256px;
    height: 465px;
    border-radius: 19px;
    
    position: absolute; top: 750px; left: 85px; 
  }

  #Yuki{
    width: 246px;
    height: 438px;
    border-radius: 21px;
    position: absolute; top: 2000px; left: 85px;
  }
  
  #jac{
    width: 184px;
    height: 184px;
    border-radius: 20px;
    position: absolute; top: 145px; left: 20px;
  }

  #Volant{
    width: 184px;
    height: 184px;
    border-radius: 21px;
    border-radius: 35px;
    position: absolute; top: 340px; left: 210px;
  }

  #tusnoda{
    width: 260px;
    height: 170px;
    border-radius: 24px;    
    position: absolute; top: 540px; left: 80px;
  }

  #lando{
    width: 190px;
    height: 190x;
    position: absolute; top: 1780px; left: 10px;
  }

  #Casque{
    width: 210px;
  height: 210px;
    position : absolute; top: 1760px; left: 195px;
  }

  #esteban{
    width: 165px;
    height: 165px; 
    position: absolute; top: 155px; left: 240px;
  }

  #piere{
    width: 165px;
    height: 165px;
    position: absolute; top: 345px; left: 30px;
  }
  
  #personne{
    width: 0px;
    height: 0px;
    border-radius: 23px;
    position: absolute; top: 4350px; 
    visibility: hidden;
  }

  #gaslyp{
    width: 256px;
    height: 495px;
    border-radius: 19px;
    position: absolute; top: 1250px; left: 85px;
  }

  #couchée{
    width: 0px;
    height: 0px;
    border-radius: 25px;
    position: absolute; top: 4330px; left: 520px;
    visibility: hidden;
  }
  
#alphatauri{
  width: 246px;
  height: 440px;
  border-radius: 34px;

  position: absolute; top: 2480px; left: 85px;
  
}

#safety {
  width: 322px;
  height: 181px;
  border-radius: 30px;
  position: absolute; top: 2970px; left: 55px;
}

#Fond{
  height: 20px; width: 20px;
  background-color: transparent;
  position: absolute; top: 3150px;
}

}






@media screen and (min-width:1440px) {

  nav a { 
    font-family: Komet;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-decoration: none;
  }
  
  #gasly {
    width: 360px;
    height: 690px;
    border-radius: 19px;
    position: absolute; top: 130px; left: 20px;
  }
  
  
  #tusnoda{
    width: 530px;
    height: 330px;
    border-radius: 24px;
    position: absolute; left: 465px; top: 470px;
  }
  
  #safety {
    width: 711px;
    height: 400px;
    border-radius: 30px;
    position: absolute; top: 2000px; left: 380px;
  }
  
  #esteban{
    width: 345px;
    height: 345px; 
    position: absolute; top: 850px; left: 720px;
  }
  
  #alphatauri{
    width: 358px;
    height: 690px;
    border-radius: 34px;
    position: absolute; left: 1100px; top: 1250px;
    
  }
  
  #Casque{
    width: 386px;
    height: 386px;
    position : absolute; top: 830px; left: 1070px;
  }
  
  #couchée{
    width: 450px;
    height: 930px;
    border-radius: 25px;
    position: absolute; top: 4330px; left: 520px;
  }
  
  #Yuki{
    width: 370px;
    height: 690px;
    border-radius: 21px;
    position: absolute; left: 1070px; top: 135px;
  }
  
  #Volant{
    width: 300px;
    height: 300px;
    border-radius: 21px;
    position: absolute; left: 400px; top: 135px;
  }
  
  #gaslyp{
    width: 350px;
    height: 690px ;
    border-radius: 25px;
    position: absolute; top: 1250px; left: 375px;
  }
  
  #lando{
    width: 350px;
    height: 350px;
    position: absolute; top: 850px; left: 360px;
  }
  
  #piere{
    width: 350px;
    height: 350px;
    position: absolute; top: 850px;
  }
  
  #jac{
    width: 300px;
    height: 300px;
    border-radius: 21px;
    position: absolute; left: 750px; top: 135px;
  }
  
  #personne{
    width: 350px;
    height: 690px;
    border-radius: 23px;
    position: absolute; top: 1250px; left: 10px;
  }
}