@font-face {
  font-family: "komet";
  src: url("https://use.typekit.net/af/66c5aa/00000000000000007735a904/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/66c5aa/00000000000000007735a904/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/66c5aa/00000000000000007735a904/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

body {
  background-color: #2d5598;
}

.menu a:hover {
  color: rgb(83, 83, 83);
}


h1 {
  color: white;
  text-align: left;
  font-size:90pt;
  margin: 20px;
  font-family: komet ;
}

p {
  font-family: komet;
  font-weight: normal;
  font-size: 30pt;
  text-align: left;
  color: white;
  margin: 40pt;
}

nav {
  padding: 25pt;
  text-align: center;
  
}

nav a {
  font-family: Komet;
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: space-around;
}

#annimation {
  position: absolute;
  left : 680pt;
  top: 120pt;
  height: 450pt;
  width: 300pt;
  border: transparent;

}

#Insta {
  width: 8rem;
  height: 8rem;
  top: -10rem;
}

#info{
  height: 400px; width: 900px;
}

@media screen and (max-width:450px) {

  .menu{
    display: block;
  }

  p {
    font-family: komet;
    font-weight: normal;
    font-size: 20pt;
    text-align: left;
    color: white;
    margin: 40pt;
  }
  h1 {
    color: white;
    text-align: left;
    font-size:36pt;
    margin: 20px;
    font-family: komet ;
  }

  #info{
    height: 400px; width:370px;
    position: absolute; left: -25px; top: 200px;
  }

}