@font-face {
  font-family: "komet";
  src: url("https://use.typekit.net/af/66c5aa/00000000000000007735a904/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/66c5aa/00000000000000007735a904/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/66c5aa/00000000000000007735a904/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@media screen and (min-width:1440px) {
  .Mathis{
    font-family: Komet;
    font-weight: 900;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    color: #fff;
  
  }

}

.menu :hover{
  color: gray;
}

@media screen and (min-width:320px) {

  body {
    background-image: url(Fond.png);
    background-repeat: no-repeat;
    background-size: 110%;
    
  }

  .Mathis{
    font-family: Komet;
  font-weight: 900;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  color: #fff;

  }
  
  .menu{
    font-family: Komet;
    font-weight: normal;
    font-size: 50px;
    text-align: left;
    color: #fff;
    text-decoration: none;

  }

  #qui{
    text-decoration: none;
    color: #fff;
    position: absolute; left: 85px; top: 190px;
  }

  #dessin{
    text-decoration: none;
    color: #fff;
    position: absolute; top: 270px; left: 140px;
  }

  #contact{
    text-decoration: none;
    color: #fff;
    position: absolute; top: 470px; left: 90px;

  }
  
  #projets {
    text-decoration: none;
    color: #fff;
    position: absolute; top: 370px; left: 145px;

  }

  #CV{
    text-decoration: none;
    color: #fff;
    position: absolute; top: 560px; right: 100px;
  }


  #icon{
    height: 40px;
    width: 40px;
    position: absolute; top: 670px; left: 90px;

  }

  #insta{
    font-family: Komet;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    color: #fff;
    position:absolute; top: 645px; left: 135px;
  }
 
}

