@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');


:root{
  --firstcolor : #FDFDFD;
  --secondcolor : #9461D3;
  --background : #1A1A1E;
  --Firstpolice: MuseoModerno;
  --Secondpolice: Sansita Swashed;
  --paragraphepolice: Work Sans;
}


body {
  --sb-track-color: #1a1a1e;
  --sb-thumb-color: #9461d3;
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 15px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

body{
    background-color: var(--background);
    scroll-behavior: smooth;
}

body h2 {
  color: var(--firstcolor);
  font-family: var(--Firstpolice);
  font-size: 4em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 8rem;
}

html {
  scroll-behavior: smooth;
}

/* Navigation */

nav a{
    color: var(--firstcolor);
    text-decoration: none;
    font-family: var(--Firstpolice);
    font-weight: 700;
    font-size: 25px;
}

nav a:hover{
  color: var(--secondcolor);
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.5rem;
    padding-left: 8rem;
    padding-right: 8rem;


}

/* Accueil principal */

.accueil{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11.875rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;

}

.accueil img {
    width: 22rem;
}

.nom-prenom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.nom-prenom h1 {
    color: var(--firstcolor,);
    font-family: var(--Firstpolice);
    font-size: 9em;
    line-height: 60px;
    font-style: normal;
    font-weight: 900;
    margin: 0;
}

.nom-prenom h2{
    color: var(--secondcolor);
    font-family: var(--Firstpolice);
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.accueil p{
    color: var(--firstcolor);
    text-align: left;
    font-family: var(--paragraphepolice);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    
    width: 40rem;
}

.descriptif{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

/* footer */

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 3rem;
}

footer a{
  text-decoration: none;
}

footer h6{
  color: var(--firstcolor);
  font-family: MuseoModerno;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}

.footerinfo{
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.footerrs{
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.footerrs img{
  width: 2rem;
}

.footerseparateur{
  background-color: var(--secondcolor);
  width: 60%;
  height: 7px;
  border-radius: 25px;

}

@media screen and (max-width: 750px) {

  .footerseparateur{
    width: 90%;
  }

}



/* Texte défilant */

.container {
  overflow: hidden;
  display: flex;
}

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes scrollinverse {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .scroll {
    display: flex;
    white-space: nowrap;
    animation: scroll 50s linear infinite;
    justify-content: space-between;
    gap: 25px;
  }

  .scroll h4 {
    color: var(--firstcolor);
    font-family: var(--Firstpolice);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px;
  }

  .scrollinverse{
    display: flex;
    white-space: nowrap;
    animation: scrollinverse 50s linear infinite;
    justify-content: space-between;
    gap: 25px;
  }

  .scrollinverse h4 {
    color: var(--firstcolor);
    font-family: var(--Firstpolice);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px;
  }

/* Mes projets */

  .mesprojets{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
  }

  .projetimage {
    width: auto;    
    height: 21rem;
  }

  .projetline{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .projetinfo h4{
    color: var(--firstcolor);
    font-family: MuseoModerno;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    padding-bottom: 5px;
  }

  .projetinfo h4:hover{
    color: var(--secondcolor);
  }

  .projetinfo a {
    text-decoration: none;
  }

  .projetinfo h6 {
    color: #FFF;
    font-family: MuseoModerno;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
  }

  .projetsuite a {
    display: flex;
    gap: 5px;
    text-decoration: none;
  }

  .projetsuite a:hover {
    position: relative;
	  color: white;
	  text-decoration: none;}
	
  .projetsuite a:after {
		content: '';
		position: absolute;
    left: 11%;
		bottom: 0;
		transform: translateX(-50%) scaleX(0);
		transform-origin: 50% 50%;
		width: 22%;
		height: 1px;
		background-color: var(--firstcolor);
		transition: transform 250ms;
	}
	
	.projetsuite a:hover {
		
		&::after {
			transform: translateX(-50%) scaleX(1);
		}
		
	}
	

  .projet{
    border-radius: 1.5rem;
    background: rgba(148, 97, 211, 0.39);
    backdrop-filter: blur(35px);
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 0.5rem;
  }

  .projet h5{
    color: var(--firstcolor);
    font-family: MuseoModerno;
    font-size: 1.0rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 2px;
  }

  .projetinfo p{
    color: var(--firstcolor);
    font-family: "Work Sans";
    text-align: left;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 39rem;
  }

  .projetinfo p a{
    color: #c093f7;
  }

  /* Annimation */

  @keyframes enter-animation {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    .image-animation {
      animation: enter-animation 1.5s 1;
    }
  }


/* Mes Outils */

.Titre-outils h5{
  color: var(--firstcolor);
  font-family:  var(--Firstpolice);
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.Titre-outils object{
  width: 2em;
  height: 2rem;
}

.Titre-outils{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
}

.cat-outils{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.tous-outils{
  display: flex;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
}

.Texte-outils{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cat-outils a {
  text-decoration: none;
}
.Un-outils{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.Un-outils h6{
  color: var(--firstcolor);
  font-family: var(--paragraphepolice);
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.Un-outils p {
  color: rgba(253, 253, 253, 0.60);
  font-family: var(--paragraphepolice);
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 5px;
  margin-bottom: 0px;
  width: 250px;
}

.Un-outils img {
  width: 2.2rem;
  height: 2.2rem;
}

.Cat-tous-outils{
  display: flex;
  align-items: center;
  flex-direction: column; 
  gap: 20px;
}

.autre-outils{

  display: flex;
  justify-content: center;
  font-family: var(--Firstpolice);
  font-size: 35px;
  color: #949494 !important;


}

.autre-outils a{

  text-decoration: none;

}

.Un-outils h6:hover{
  color: var(--secondcolor);
}

.autre-outils a:hover{

  color: #9461d39d !important;

}

/* Annimation */

.projetimage {
  transition: all 0.3s ease-in-out;
}

.projetimage:hover {
  transform: scale(1.03);
  filter: brightness(80%);
}

/* CSS responsive  */

@media screen and (max-width: 1300px) {

  .projetinfo p{
    width: 25rem;
  }
  
}

@media screen and (max-width: 1200px) {

  .accueil{
    gap: 5rem;
  }

  .accueil img {
    width: 18rem;
  }

  .nom-prenom h1{
    font-size: 7rem;
  }

  .nom-prenom h2{
    font-size: 4.5rem;
  }

  .accueil p {
    font-size: 1rem;
    width: 630px;
  }

  .tous-outils{
   flex-wrap: wrap;
   row-gap: 60px;
  }
}

@media screen and (max-width: 1100px) {
  
  .accueil{
    gap: 4rem;
  }

  .accueil img {
    width: 15rem;
  }

  .nom-prenom h1{
    font-size: 5rem;
  }

  .nom-prenom h2{
    font-size: 4rem;
  }

  .accueil p {
    font-size: 1rem;
    width: 450px;
  }

  .projetline{
    flex-direction: column;
    gap: 0px;
  }

  .projetinfo p {
    width: 35rem;
  }

}

@media screen and (max-width: 930px) {

   .projettag{
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: flex-start;
  }

#outils{
  display: flex;
  justify-content: center;
  padding: 0px;
}

#Projets{
  display: flex;
  justify-content: center;
  padding: 0px;

}
  
}


@media screen and (max-width: 800px) {

  .accueil{
    flex-direction: column-reverse;
    gap: 20px;
  }

  .accueil p {
    font-size: 1.2rem;
    width: 85%;
  }
  
  .descriptif{
    align-items: center;
  }

  .accueil{
    padding-left: 0rem;
    padding-right: 0rem;
  }
  
  .nom-prenom h2{
    padding: 0px;
  }

  .nom-prenom{
    align-items: center;
  }



}

@media screen and (max-width: 720px) {
  
  .accueil img {
    width: 13rem;
  }

  #Projets,#outils{
    font-size: 3rem ;
  }

  .navigation a{
    font-size: 1.2rem;
  }

  .navigation{
    gap: 20px;
  }
  
  nav {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: space-around;
  }

  .projetimage{
    height: 15rem;
  }

  .projetinfo p{
    width: 25rem;
  }

  .projetinfo h4{
    font-size: 3rem;
  }

}

@media screen and (max-width: 500px) {

  .projetinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projettag{
    width: 100%;
  }
}

@media screen and (max-width: 450px) {

  .projetinfo  h4{
    font-size: 2.5rem;
    width: 20rem;
  }

  .projetinfo p{
    width: 20rem;
  }

  .projetimage{
    height: 12rem;
  }

  .projet{
    padding-left: 20px;
    padding-right: 20px;
  }


}

@media screen and (max-width:430px) {

  .visible{
      display: none;
  }
  
}
