/* Definition des variable */
:root{
    --couleurtexte: #ffff ;
    --couleurprimaire: #151d53 ;
    --couleursecondaire: #c61120;
}

/* Importation d'une police */

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat\Monsterat.ttf);
  }

@font-face {
    font-family: Trace of Rough;
    src: url(fonts/Trace_of_Rough\Trace_of_Rough.ttf);
  }

/* CSS pour le fond */

body{
    background-color:var(--couleurprimaire);
    animation: debut 700ms ease-out 2ms;
}

/* CSS pour la page Nav  */

.Logo{
    width: 140px;
    height: 100px;

}

a{
    font-family: Montserrat;
    font-weight: normal;
    font-size: 35px;
    text-decoration: none;
    color: var(--couleurtexte);
}

nav{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

/* Css pour la barre de recherche */

.Recherche{
    display: flex;
    justify-content: center;
}

#inputshearch{
    width: 50%;
    height: 3rem;
    background: transparent;
    border: 2px solid white;
    border-radius: 25px;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 25px;
    
}

/* Mise en forme */

#opera{
    width: 536px;
    height: 428px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 40px;
}

/* Css des animations */

a:hover{
    color:var(--couleursecondaire);
    
}

@keyframes debut{
    from {
        margin-left: 100%;
        width: 300%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
    }

    /* CSS Optimisation taille d'écran*/

@media screen and (max-width: 880px) {
    

    nav{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    
    h1{
        font-size: 30px;
    }

    .Info{
        font-size: 25px;
        line-height: 25px;
        width: 90%;
    }

    #opera{
        width: 80%;
    }

}