/* Definition des variable */

:root{
    --couleurtexte: #ffff ;
    --couleurprimaire: #151d53 ;
    --couleursecondaire: #c61120;
}

/* Importation d'une police */

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat\Monsterat.ttf);
  }

@font-face {
    font-family: Trace of Rough;
    src: url(fonts/Trace_of_Rough\Trace_of_Rough.ttf);
  }

/* CSS pour le fond */

body{
    background-color:var(--couleurprimaire);
    animation: debut 700ms ease-out 2ms;
}

/* CSS pour la page Nav  */

.Logo{
    width: 140px;
    height: 100px;

}

a{
    font-family: Montserrat;
    font-weight: normal;
    font-size: 35px;
    text-decoration: none;
    color: var(--couleurtexte);
}

nav{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

/* Css du texte */


h1{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    color: var(--couleurtexte);
    display: flex;
    justify-content: center;
}

.Info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Montserrat;
    font-weight: normal;
    text-align: center;
    font-size: 30px;
    line-height: 35px;;
    color: var(--couleurtexte);
    width: 70%;
    margin: auto;
    
}

/* Css de la mise en page */

#Table{
    display: flex;
}

#Illustration{
    display: flex;
    justify-content: center;
}

h2{
    text-decoration: underline;
    font-family: Montserrat;
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    color: var(--couleurtexte);
}

.input{
    font-family: Montserrat;
    font-size: 20px;
    color: black;
    height: 40px;
    width: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: auto;

}

.button{
    font-family: Trace of Rough;
    font-family: "Trace of Rough";
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: var(--couleurtexte);
    width: 290px;
    height: 65px;
    border-radius: 39.5px;
    background: var(--couleursecondaire);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.42);
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.form{
    background-color: rgba(255, 255, 255, 0.436);
    width: 45%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin: auto;
    
}


/* Css des animations */

.button:hover{
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.60);

}

a:hover{
    color:var(--couleursecondaire);
}

@keyframes debut{
        from {
            margin-left: 100%;
            width: 300%;
          }
        
          to {
            margin-left: 0%;
            width: 100%;
          }
}



/* CSS Optimisation taille d'écran*/

@media screen and (max-width:1400px) {

    #Table{
        display: flex;
        flex-direction: column-reverse;   
    }

    
}

@media screen and (max-width: 880px) {
    

    nav{
        display: flex;
        flex-direction: column;
    }

    #Illustration{
        size: 50%;
    }

    .form{
        width: 70%;
    }
  
    }



    @media screen and (max-width: 650px) {
    
        h1{
            font-size: 30px;
        }
    
        .Info{
            font-size: 20px;
            line-height: 25px;
            width: 90%;
        }
    
        button{
            font-size: 20px;
            width: 190px;
            height: 45px;
        }

        #Illustration{
            visibility: hidden;
            height: 0px;
            width: 0px;
        }

        .button{
            font-size: 20px;
            width: 190px;
            height: 45px;
        }
    }